.input-error-label {
    margin: 0 0 0 16px;
    font-size: 12px;
    color: red;
}

.voc-word-input {
    font-size: 25px;
}

.voc-pron-input {
    font-size: 16px;
    //text-align: right;
}

.voc-trans-input {
    font-size: 25px;
}

.voc-desc-input {
    font-size: 16px;
}