::ng-deep {
    .small-modal {
        .modal-wrapper {
            position: absolute;
            bottom: 0;
            min-height: initial;
            top: initial;
            height: 75%;
        }
    }
}
