<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="overview">
      <ion-icon name="planet-outline"></ion-icon>
      <ion-label>{{ 'OVERVIEW' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button class="vocab-train-tab" [routerLink]="['/vocab-test']" routerLinkActive="router-link-active">
      <ion-icon slot="icon-only" name="rocket-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="vocabulary">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>{{ 'VOCABULARY' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

<ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="!keyboardOpen">
  <ion-fab-button [routerLink]="['/vocab-test']" routerLinkActive="router-link-active">
    <ion-icon name="rocket-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>