<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="overview">
      <ion-icon name="planet-outline"></ion-icon>
      <ion-label>{{ 'OVERVIEW' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/vocab-test']" routerLinkActive="router-link-active" >
      <ion-icon name="rocket-outline"></ion-icon>
      <ion-label>{{ 'TRAINING' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vocabulary">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>{{ 'VOCABULARY' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
