<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons *ngIf="showVocList" slot="start">
      <ion-button (click)="showVocList = false">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title *ngIf="!showVocList">
      {{ 'VOCABULARY' | translate }}
    </ion-title>
    <ion-title *ngIf="showVocList">
      {{ selectedCollection.title }}
    </ion-title>

    <!-- Vocabulary-Collections -->
    <ion-buttons slot="primary" *ngIf="!showVocList">
      <ion-button (click)="toggleSearchbar()">
        <ion-icon *ngIf="!showSearch" slot="icon-only" name="search-outline"></ion-icon>
        <ion-icon *ngIf="showSearch" slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="presentVocPopover($event)">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Vocabulary-List -->
    <ion-buttons slot="primary" *ngIf="showVocList">
      <ion-button (click)="showVocMore = !showVocMore">
        <ion-icon slot="icon-only" *ngIf="!showVocMore" name="eye-outline"></ion-icon>
        <ion-icon slot="icon-only" *ngIf="showVocMore" name="eye-off-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="presentCollPopover($event)">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'VOCABULARY' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="showSearch">
    <ion-searchbar class="searchbar" showCancelButton="focus" placeholder="{{ 'SEARCH' | translate }}"
      (ionChange)="setSearch($event)" (ionCancel)="closeSearchbar()"></ion-searchbar>
  </ng-container>

  <!-- Vocabulary-Collections -->
  <ng-container *ngIf="!showVocList && !showSearchResults">
    <ng-container *ngFor="let collection of collections">
      <ion-card [style]="{'background-color': collection.color}" (click)="selectCollection(collection)"
        class="ion-activatable ripple-parent">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-card-header>
          <ion-card-subtitle>{{ collection.language }}
          </ion-card-subtitle>
          <ion-card-title>{{ collection.title }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{ collection.description }}
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ng-container>

  <!-- Vocabulary-List -->
  <ion-list *ngIf="showVocList && selectedCollection && !showSearchResults">
    <ng-container *ngFor="let vocCard of selectedCollection.vocabulary">
      <ion-item-sliding>
        <ion-item-options side="start">
          <ion-item-option (click)="undefined" expandable>
            <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>

        <ion-item matRipple class="ion-activatable ripple-parent">
          <ion-ripple-effect></ion-ripple-effect>
          <div class="vocab-item-grid">
            <div class="vocab-word">{{vocCard.word}}</div>
            <div class="vocab-translation">{{vocCard.translation}}</div>
            <div class="vocab-pronunciation" *ngIf="showVocMore">{{vocCard.pronunciation}}</div>
            <div class="vocab-description" *ngIf="showVocMore">{{vocCard.description}}</div>
          </div>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="undefined" expandable>
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>
  </ion-list>

  <!-- Search-Results -->
  <ion-list *ngIf="showSearchResults">
    <ng-container *ngFor="let vocCard of selectedCards">
      <ion-item matRipple class="ion-activatable ripple-parent">
        <ion-ripple-effect></ion-ripple-effect>
        <div class="vocab-item-grid">
          <div class="vocab-word">{{vocCard.word}}</div>
          <div class="vocab-translation">{{vocCard.translation}}</div>
          <div class="vocab-pronunciation" *ngIf="showVocMore">{{vocCard.pronunciation}}</div>
          <div class="vocab-description" *ngIf="showVocMore">{{vocCard.description}}</div>
        </div>
      </ion-item>
    </ng-container>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <create-new-fab></create-new-fab>
  </ion-fab>
</ion-content>