.test-order-item {
    margin-top: 2px;
    --background: var(--ion-background-color);
    .test-order {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }
}

.test-order-symbol {
    align-self: center;
}

.training-container {
    max-width: 500px;
    margin: auto;
}

.training-card {
    &.card-correct {
        margin: 9px;
        border: solid 1px var(--ion-color-success);
    }

    &.card-wrong {
        margin: 9px;
        border: solid 1px var(--ion-color-danger);
    }
}

.voc-input {
    --color: var(--ion-text-color);

    &:not([aria-disabled="true"]) {
        border-bottom: solid 0.5px var(--ion-color-step-500);
    }

    ::ng-deep {
        .native-input[disabled].sc-ion-input-md {
            opacity: 1;
        }
    }
}

.language-word {
    opacity: 0.5;
}

.voc-word-input {
    font-size: 25px;
}

.correct-word {
    font-size: 25px;
    margin: 0 0 0 8px;
    position: absolute;
}

.voc-pron-input {
    font-size: 16px;
    //text-align: right;
}

.voc-trans-input {
    font-size: 25px;
}

.correct-translation {
    font-size: 25px;
    margin: 0 0 0 8px;
    position: absolute;
}

.voc-desc-input {
    font-size: 16px;
}

.start-center-button {
    position: relative;
    width: 200px;
    margin: auto;
    text-align: center;
    font-size: 25px;
    height: 200px;
    background: var(--ion-card-background);
    color: var(--ion-text-color);
    border-radius: 100%;
    overflow: hidden;
    margin-top: 20%;
    vertical-align: middle;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
    p {
        margin: 0;
        margin-top: calc(50% - 16px);
    }
}

.hideCheck {
    color: var(--ion-color-step-250);
    .correct-translation {
        color: var(--ion-text-color);
    }
    .correct-word {
        color: var(--ion-text-color);
    }
}

.visibilityHide {
    opacity: 0.3;
    filter: blur(4px);
    transition: filter 0.2s ease, opacity 0.2s ease;
    &:hover {
        opacity: 1;
        filter: none;
    }
}

.correct-row {
    display: grid;
    width: 100%;
    background-color: var(--ion-color-danger);
    min-height: 5px;
    opacity: 0.4;
    .correct-row-success {
        height: 5px;
        background-color: var(--ion-color-success);
        border-right: solid 1px var(--ion-background-color);
    }
}

@keyframes load-animation {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.time-progress-bar {
    position: absolute;
    bottom: 0px;
    z-index: 20;
    left: 0;
    height: 3px;
    animation: load-animation 1.5s linear infinite;
    &.correct {
        background-color: var(--ion-color-success);
    }
}
