<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ 'TRAINING' | translate }}
    </ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="presentTestPopover($event)">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" (keyup.enter)="enterKeyPressed()">
  <div class="training-container">
    <ion-list>
      <!-- LANGUAGE ORDER -->
      <ion-item button (click)="changeOrder()">
        <div class="test-order">
          <div *ngIf="settings.order">{{ 'WORD' | translate }} <div class="language-word">{{
              getCardLanguage(currentCard)
              }}</div>
          </div>
          <div *ngIf="!settings.order">{{ 'TRANSLATION' | translate }} <div class="language-word">{{
              getCardTransLanguage(currentCard) }}</div>
          </div>
          <div class="test-order-symbol">
            <ion-icon name="swap-horizontal-outline"></ion-icon>
          </div>
          <div *ngIf="settings.order">{{ 'TRANSLATION' | translate }} <div class="language-word">{{
              getCardTransLanguage(currentCard) }}</div>
          </div>
          <div *ngIf="!settings.order">{{ 'WORD' | translate }} <div class="language-word">{{
              getCardLanguage(currentCard)
              }}</div>
          </div>
        </div>
      </ion-item>
    </ion-list>

    <!-- VOCAB-CARD -->
    <ng-container *ngIf="currentCard">
      <form [formGroup]="testFormGroup">
        <ion-card class="training-card">
          <ion-card-content>
            <ion-input #vocWord class="voc-input voc-word-input" [class.hideCheck]="showWrong || showSuccess"
              formControlName="vocWord">
              <p class="correct-word" *ngIf="showWrong || showSuccess">{{currentCard.word}}</p>
            </ion-input>
            <ion-input class="voc-input voc-pron-input" [class.visibilityHide]="!settings.showPron"
              formControlName="vocPron" [disabled]="true">
            </ion-input>
            <ion-input #vocTrans class="voc-input voc-trans-input" [class.hideCheck]="showWrong || showSuccess"
              formControlName="vocTrans">
              <p class="correct-translation" *ngIf="showWrong || showSuccess">{{currentCard.translation}}</p>
            </ion-input>
            <ion-textarea [class.visibilityHide]="!settings.showDesc" class="voc-input voc-desc-input"
              formControlName="vocDesc" type="textarea" [disabled]="true">
            </ion-textarea>
          </ion-card-content>
        </ion-card>
      </form>

      <!-- SUCCESS // WRONG -->
      <ion-item color="success" *ngIf="showSuccess">
        {{ 'SUCCESS' | translate }}
        <ion-icon name="checkmark-outline" slot="start"></ion-icon>
      </ion-item>
      <ion-item color="danger" *ngIf="showWrong">
        {{ 'WRONG' | translate }}
        <ion-icon name="close-outline" slot="start"></ion-icon>
      </ion-item>
    </ng-container>
  </div>

  <!-- START-BUTTON -->
  <div class="start-center-button ion-activatable ripple-parent" button (click)="selectNextCard()" *ngIf="!currentCard">
    <ion-ripple-effect></ion-ripple-effect>
    <p>{{ 'START_NEW_TEST' | translate }}</p>
  </div>
</ion-content>

<ion-footer>
  <!-- Correct-Bar -->
  <ng-container *ngIf="currentCard">
    <div class="correct-row" *ngIf="settings.order"
      [style]="{'grid-template-columns': 'repeat(' + settings.rowSize + ', 1fr)'}">
      <div class="correct-row-success" *ngFor="let item of getArrayOfCorrect(currentCard.transCorrectRow)"></div>
    </div>
    <div class="correct-row" *ngIf="!settings.order"
      [style]="{'grid-template-columns': 'repeat(' + settings.rowSize + ', 1fr)'}">
      <div class="correct-row-success" *ngFor="let item of getArrayOfCorrect(currentCard.wordCorrectRow)"></div>
    </div>
  </ng-container>

  <!-- BUTTONS -->
  <ion-toolbar>
    <ion-button *ngIf="!currentCard" (click)="selectNextCard()" fill="full">
      {{ 'START_NEW_TEST' | translate }}
    </ion-button>
    <ion-button *ngIf="currentCard && !showWrong" (click)="checkTest()" [disabled]="showSuccess || showWrong"
      fill="full">
      {{ "CHECK" | translate }}
      <ion-icon name="send-outline" slot="end"></ion-icon>
    </ion-button>
    <ion-button *ngIf="showWrong" (click)="selectNextCard()" fill="full">
      {{ "GO_ON" | translate }}
      <ion-icon name="send-outline" slot="end"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>