<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'OVERVIEW' | translate }}
    </ion-title>

    <!-- Vocabulary-List -->
    <ion-buttons slot="primary">
      <ion-button (click)="toggleTheme()">
        <ion-icon slot="icon-only" *ngIf="isDark" name="moon-outline"></ion-icon>
        <ion-icon slot="icon-only" *ngIf="isDefault" name="sunny-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'OVERVIEW' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="feature-grid ion-activatable ripple-parent">
    <div class="feature-card-half">
      <p class="feature-number">{{ collectionCountTmp }}</p>
      <p class="feature-title">{{ 'COLLECTIONS' | translate }}</p>
      <ion-icon class="feature-icon" name="reader-outline"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    <div class="feature-card-half ion-activatable ripple-parent">
      <p class="feature-number">{{ vocabularyCountTmp }}</p>
      <p class="feature-title">{{ 'VOCABULARY' | translate }}</p>
      <ion-icon class="feature-icon" name="language-outline"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    <div class="feature-card-half ion-activatable ripple-parent">
      <p class="feature-number">{{ learnedCountTmp }}</p>
      <p class="feature-title">{{ 'LEARNED' | translate }}</p>
      <ion-icon class="feature-icon" name="checkmark-circle-outline"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    <div class="feature-card-half ion-activatable ripple-parent">
      <p class="feature-number">{{ openCountTmp }}</p>
      <p class="feature-title">{{ 'OPEN' | translate }}</p>
      <ion-icon class="feature-icon" name="close-circle-outline"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    <div class="feature-card-half ion-activatable ripple-parent">
      <p class="feature-number">{{ trainCountTmp }}</p>
      <p class="feature-title">{{ 'TRAINING' | translate }}</p>
      <ion-icon class="feature-icon" name="rocket-outline"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    <div></div>
    <div class="feature-card-half ion-activatable ripple-parent" *ngIf="mostCorrectTransTmp">
      <p class="feature-text">{{ mostCorrectTransTmp.word }}</p>
      <p class="feature-text">{{ mostCorrectTransTmp.translation }}</p>
      <p class="feature-title">{{ 'MOST_CORRECT_TRANS' | translate }}</p>
      <ion-icon class="feature-icon" name="language-outline"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    <div class="feature-card-half ion-activatable ripple-parent" *ngIf="mostWrongTransTmp">
      <p class="feature-text">{{ mostWrongTransTmp.word }}</p>
      <p class="feature-text">{{ mostWrongTransTmp.translation }}</p>
      <p class="feature-title">{{ 'MOST_WRONG_TRANS' | translate }}</p>
      <ion-icon class="feature-icon" name="language-outline"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    <div class="feature-card-half ion-activatable ripple-parent" *ngIf="mostCorrectWordTmp">
      <p class="feature-text">{{ mostCorrectWordTmp.translation }}</p>
      <p class="feature-text">{{ mostCorrectWordTmp.word }}</p>
      <p class="feature-title">{{ 'MOST_CORRECT_WORD' | translate }}</p>
      <ion-icon class="feature-icon" name="language-outline"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    <div class="feature-card-half ion-activatable ripple-parent" *ngIf="mostWrongWordTmp">
      <p class="feature-text">{{ mostWrongWordTmp.translation }}</p>
      <p class="feature-text">{{ mostWrongWordTmp.word }}</p>
      <p class="feature-title">{{ 'MOST_WRONG_WORD' | translate }}</p>
      <ion-icon class="feature-icon" name="language-outline"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    <div class="feature-card-half ion-activatable ripple-parent">
      <p class="feature-text"><a href="https://bjoernglawe.de/impressum/" target="_blank">{{ 'BJOERN_GLAWE' | translate }}</a></p>
      <p class="feature-title">{{ 'IMPRINT' | translate }}</p>
      <ion-icon class="feature-icon" name="accessibility-outline"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </div>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <create-new-fab></create-new-fab>
  </ion-fab>
</ion-content>